# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.23.0
requests==2.32.4
pyodbc==5.2.0
azure-storage-blob==12.26.0
beautifulsoup4==4.13.4
lxml==6.0.0
pillow==11.3.0
apng==0.3.4