@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
    
        <article class="content px-4">
            @Body
        </article>

        
            
        <footer class="bottom-row">
            <a href="https://www.linkedin.com/in/eduardo-pivaral/" target="_blank">Autor: Eduardo Pivaral</a>
            <a href="https://github.com/Epivaral/climaguate" target="_blank">
            <img src="/images/github-icon.png" alt="GitHub" />Github Repository
            </a>
        </footer>
    </main>
</div>
