
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="text-white">Menu</span>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Clima
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agriculture">
                Agricultura
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather-history">
                Histórico de Clima
            </NavLink>
        </div>
            <hr class="text-white mx-3" />
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="about">
                    Acerca De
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/apidocs">
                    API Publica
                </NavLink>
            </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

