@page "/about"

<PageTitle>Acerca de</PageTitle>

<button @onclick="ToggleLanguage">@languageButtonText</button>


@if (showSpanishText)
{
    <h1>¿Que es Climaguate?</h1>
    <hr/>
    <p>Climaguate es un sitio web de pronóstico del clima para Guatemala. <br/>
    Proporciona información actualizada sobre el clima en diferentes regiones del país, 
    incluyendo temperaturas, condiciones atmosféricas y pronósticos a corto y largo plazo.
    </p>
    <br/>
    <p>Este sitio web es un proyecto personal de código abierto que muestra cómo construir una aplicación web estática utilizando Azure y Blazor.</p>
    <br/>
}
@if (showEnglishText)
{
    <h1>What is Climaguate?</h1>
    <hr/>
    <p>Climaguate is a weather forecast website for Guatemala. <br/>
    It provides up-to-date information about the weather in different regions of the country, 
    including temperatures, atmospheric conditions, and short-term and long-term forecasts.
    </p>
    <br/>
    <p>This website is a personal open-source project that demonstrates how to build a static web application using Azure and Blazor.</p>
    
    <br/>
}
<hr/>
<a href="https://github.com/Epivaral/climaguate" target="_blank">
    <img src="/images/github-icon.png" alt="GitHub" />Github Repository
</a>

@code {
    private bool showSpanishText = true;
    private bool showEnglishText = false;
    private string languageButtonText = "Español"; 

    private void ToggleLanguage()
    {
        showSpanishText = !showSpanishText;
        showEnglishText = !showEnglishText;
        if (showSpanishText)
        {
            languageButtonText = "English";
        }
        else
        {
            languageButtonText = "Español";
        }
    }
    

    
}

