@page "/about"


<PageTitle>Acerca de</PageTitle>

<button @onclick="ToggleLanguage">@languageButtonText</button>

@if (showSpanishText)
{
    <h2>¿Que es Climaguate?</h2>
    <hr/>
    <p>Climaguate es un sitio web de pronóstico del clima para Guatemala. <br/>
    Proporciona información actualizada sobre el clima en diferentes regiones del país, 
    incluyendo temperaturas, condiciones atmosféricas y pronósticos a corto y largo plazo.
    </p>
    <br/>
    <p>Este sitio web es un proyecto personal de código abierto que muestra cómo construir una aplicación web estática utilizando Azure y Blazor.</p>
    <br/>
    <h2>Nuestro Logo</h2>
    <hr/>
    <img src="/images/chaac.png" alt="Chaac" style="float: left; margin-left: 10px; ">
    <p>Chaac es el dios maya de la lluvia. En la mitología maya, Chaac es considerado como una deidad importante que controla el agua y el clima. 
        Se le representa como un hombre con una gran nariz y dientes afilados, y lleva consigo un hacha de piedra que utiliza para golpear las nubes y hacer que llueva. 
        <br/>Los antiguos mayas dependían de Chaac para asegurar buenas cosechas y mantener el equilibrio en la naturaleza. 
        Aún hoy en día, Chaac es venerado en algunas comunidades indígenas de Guatemala como un símbolo de fertilidad y prosperidad.</p>
    <p>La presencia de Chaac en Climaguate es un recordatorio de la importancia del agua y el clima en nuestras vidas. 
        A través de este sitio web, esperamos brindar información precisa y útil sobre el clima en Guatemala, para que las personas puedan estar preparadas y tomar decisiones informadas. 
        Al igual que Chaac, nuestro objetivo es ayudar a mantener el equilibrio y la armonía en la naturaleza, y promover la sostenibilidad y el cuidado del medio ambiente.</p>


}
@if (showEnglishText)
{
    <h2>What is Climaguate?</h2>
    <hr/>
    <p>Climaguate is a weather forecast website for Guatemala. <br/>
    It provides up-to-date information about the weather in different regions of the country, 
    including temperatures, atmospheric conditions, and short-term and long-term forecasts.
    </p>
    <br/>
    <p>This website is a personal open-source project that demonstrates how to build a static web application using Azure and Blazor.</p>
    <br/>
    <h2>Our Logo</h2>
    <hr/>
    <img src="/images/chaac.png" alt="Chaac" style="float: left; margin-left: 10px; ">
    <p>Chaac is the Maya god of rain. In Maya mythology, Chaac is considered an important deity who controls water and weather. 
        He is depicted as a man with a large nose and sharp teeth, and carries a stone axe that he uses to strike the clouds and make it rain. 
        <br/>The ancient Maya relied on Chaac to ensure good harvests and maintain balance in nature. 
        Even today, Chaac is revered in some indigenous communities in Guatemala as a symbol of fertility and prosperity.</p>
    <p>The presence of Chaac in Climaguate is a reminder of the importance of water and weather in our lives. 
        Through this website, we hope to provide accurate and useful information about the weather in Guatemala, so that people can be prepared and make informed decisions. 
        Like Chaac, our goal is to help maintain balance and harmony in nature, and promote sustainability and environmental care.</p>
    <br/>
    <h2>For developers</h2>
    <hr/>
    <p>The diagram illustrates the architecture for a weather data collection, processing, and presentation system named Climaguate. The system is composed of several components working together to gather, process, and present weather-related data to end-users.</p>

    <img src="/images/climaguate.png" alt="Climaguate Architecture Diagram">

    <h3>1. Data Collection (Scheduled Trigger)</h3>
    <p>This section is responsible for collecting weather data from various sources at scheduled intervals. It comprises three main Python-based crawlers:</p>

    <ul>
        <li><strong>WeatherCrawler</strong>: Collects weather data from OpenWeatherMap.org in JSON format.</li>
        <li><strong>MapImageCrawler</strong>: Fetches weather map images from NASA GOES.</li>
        <li><strong>NewsCrawler</strong>: Gathers weather-related news from social media platforms like Twitter and Facebook in JSON format.</li>
    </ul>

    <p>All these crawlers use Azure Functions for serverless execution. They retrieve the necessary API keys and connection strings from a Key Vault, ensuring secure access to external APIs.</p>

    <h3>2. Data Presentation</h3>
    <p>This section handles the processing and presentation of collected data. It involves:</p>

    <ul>
        <li><strong>SQL Database</strong>: Stores the raw and processed weather data.</li>
        <li><strong>Data API Builder</strong>: Converts the stored data into JSON format through an API, making it accessible for the web application.</li>
        <li><strong>Static Web App</strong>: A front-end application built using .NET Core and C# that presents the data to users. The website (<a href="http://www.climaguate.com">www.climaguate.com</a>) is the main interface for users to access the weather information.</li>
    </ul>

    <h3>3. CI/CD (Continuous Integration/Continuous Deployment)</h3>
    <p>This section ensures that the codebase and infrastructure are consistently tested, integrated, and deployed. It includes:</p>

    <ul>
        <li><strong>GitHub Codespaces</strong>: Provides a web-based development environment in Visual Studio Code, it is configured with all the required extensions so work can be resumed anywhere.</li>
        <li><strong>GitHub Actions</strong>: Automates the build and deployment processes.</li>
    </ul>

    <p>Code is committed to the Epivaral/climaguate repository on GitHub, which triggers the CI/CD pipelines by GitHub Actions.
    There is one action for each component on the solution, that matches the folder structure: Infrastructure, Backend, Database, and Frontend.</p>

    <h3>4. End-Users</h3>
    <p>This section represents the final consumers of the weather data. The end-users can access the data through various devices:</p>

    <ul>
        <li><strong>Desktop Browsers</strong>: Accessing the web application through <a href="http://www.climaguate.com">www.climaguate.com</a>.</li>
        <li><strong>Mobile Devices</strong>: Viewing the weather data on smartphones and tablets via a responsive web application or a potential mobile app.</li>
    </ul>

    <p>Additionally, there is an <strong>Email Service</strong> (in development) that generates daily weather forecasts and sends them to subscribers via email, you will be able to suscribe to it from the website.</p>

    <h3>Summary</h3>
    <p>The Climaguate system is designed to efficiently collect, process, and present weather information to users via a web application. It leverages serverless functions for data collection, a robust database for storage, a .NET-based front-end for presentation, and an automated CI/CD pipeline for continuous improvement and deployment.</p>

    <p>This architecture ensures scalability, security, and ease of use for both developers and end-users.</p>
}
<hr/>
<br/>
<br/>


@code {
    private bool showSpanishText = true;
    private bool showEnglishText = false;
    private string languageButtonText = "English"; 

    private void ToggleLanguage()
    {
        showSpanishText = !showSpanishText;
        showEnglishText = !showEnglishText;
        if (showSpanishText)
        {
            languageButtonText = "English";
        }
        else
        {
            languageButtonText = "Español";
        }
    }
    

    
}

