@page "/about"


<PageTitle>Acerca de</PageTitle>

<button @onclick="ToggleLanguage">@languageButtonText</button>

@if (showSpanishText)
{
    <h2>¿Que es Climaguate?</h2>
    <hr/>
    <p>Climaguate es un sitio web de pronóstico del clima para Guatemala. <br/>
    Proporciona información actualizada sobre el clima en diferentes regiones del país, 
    incluyendo temperaturas, condiciones atmosféricas y pronósticos a corto y largo plazo.
    </p>
    <br/>
    <p>Este sitio web es un proyecto personal de código abierto que muestra cómo construir una aplicación web estática utilizando Azure y Blazor.</p>
    <br/>
    <h2>Nuestro Logo</h2>
    <hr/>
    <img src="/images/chaac.png" alt="Chaac" style="float: left; margin-left: 10px; ">
    <p>Chaac es el dios maya de la lluvia. En la mitología maya, Chaac es considerado como una deidad importante que controla el agua y el clima. 
        Se le representa como un hombre con una gran nariz y dientes afilados, y lleva consigo un hacha de piedra que utiliza para golpear las nubes y hacer que llueva. 
        <br/>Los antiguos mayas dependían de Chaac para asegurar buenas cosechas y mantener el equilibrio en la naturaleza. 
        Aún hoy en día, Chaac es venerado en algunas comunidades indígenas de Guatemala como un símbolo de fertilidad y prosperidad.</p>
    <p>La presencia de Chaac en Climaguate es un recordatorio de la importancia del agua y el clima en nuestras vidas. 
        A través de este sitio web, esperamos brindar información precisa y útil sobre el clima en Guatemala, para que las personas puedan estar preparadas y tomar decisiones informadas. 
        Al igual que Chaac, nuestro objetivo es ayudar a mantener el equilibrio y la armonía en la naturaleza, y promover la sostenibilidad y el cuidado del medio ambiente.</p>
    <br/>
    <h2>Para desarrolladores</h2>
    <hr/>
    <p>El diagrama ilustra la arquitectura de un sistema de recolección, procesamiento y presentación de datos meteorológicos llamado Climaguate. El sistema está compuesto por varios componentes que trabajan juntos para recopilar, procesar y presentar datos relacionados con el clima a los usuarios finales.</p>

    <img src="/images/climaguate.png" alt="Diagrama de Arquitectura de Climaguate">
    <br/>
    <h4>1. Recolección de datos (Trigger programado)</h4>
    <p>Esta sección es responsable de recopilar datos meteorológicos de diversas fuentes en intervalos programados. Incluye tres crawlers principales hechos en Python:</p>

    <ul>
        <li><strong>crawler del clima</strong>: Recopila datos meteorológicos de OpenWeatherMap.org en formato JSON.</li>
        <li><strong>crawler de imágenes de mapas</strong>: Obtiene imágenes de mapas meteorológicos de NASA GOES.</li>
        <li><strong>crawler de noticias</strong>: Recopila noticias relacionadas con el clima de plataformas de redes sociales como Twitter y Facebook en formato JSON.</li>
    </ul>

    <p>Todos estos crawlers utilizan Azure Functions para su ejecución serverless. Obtienen las claves de API y las cadenas de conexión necesarias de un Key Vault, lo que garantiza un acceso seguro a las API externas.</p>

    <h4>2. Presentación de datos</h4>
    <p>Esta sección se encarga del procesamiento y presentación de los datos recopilados. Incluye:</p>

    <ul>
        <li><strong>Base de datos SQL</strong>: Almacena los datos meteorológicos en bruto y procesados.</li>
        <li><strong>Generador de API de datos</strong>: Convierte los datos almacenados en formato JSON a través de una API, lo que permite que la aplicación web acceda a ellos.</li>
        <li><strong>Aplicación web estática</strong>: Una aplicación front-end construida con .NET Blazor que presenta los datos a los usuarios. El sitio web www.climaguate.com es la interfaz principal para que los usuarios accedan a la información meteorológica.</li>
    </ul>

    <h4>3. CI/CD (Integración continua/Implementación continua)</h4>
    <p>Esta sección garantiza que el código y la infraestructura se prueben, integren e implementen de manera constante. Incluye:</p>

    <ul>
        <li><strong>GitHub Codespaces</strong>: Proporciona un entorno de desarrollo basado en web en Visual Studio Code, configurado con todas las extensiones necesarias para que el trabajo se pueda reanudar en cualquier lugar.</li>
        <li><strong>GitHub Actions</strong>: Automatiza los procesos de compilación e implementación.</li>
    </ul>

    <p>El código se envía al repositorio Epivaral/climaguate en GitHub, lo que activa los flujos de CI/CD mediante GitHub Actions.
    Hay una acción para cada componente de la solución, que coincide con la estructura de carpetas: Infraestructura, Backend, Base de datos y Frontend.</p>

    <h4>4. Usuarios finales</h4>
    <p>Esta sección representa a los consumidores finales de los datos meteorológicos. Los usuarios finales pueden acceder a los datos a través de varios dispositivos:</p>

    <ul>
        <li><strong>Navegadores de escritorio</strong>: Accediendo a la aplicación web a través de <a href="http://www.climaguate.com">www.climaguate.com</a>.</li>
        <li><strong>Dispositivos móviles</strong>: Visualizando los datos meteorológicos en teléfonos inteligentes y tablets mediante una aplicación web o una posible aplicación móvil.</li>
    </ul>

    <p>Además, hay un <strong>Servicio de correo electrónico</strong> (en desarrollo) que genera pronósticos meteorológicos diarios y los envía a los suscriptores por correo electrónico, podrás suscribirte a él desde el sitio web.</p>

    <h4>Resumen</h4>
    <p>El sistema Climaguate está diseñado para recopilar, procesar y presentar eficientemente información meteorológica a los usuarios a través de una aplicación web. Utiliza funciones serverless para la recolección de datos, una base de datos robusta para el almacenamiento, una interfaz de usuario basada en .NET para la presentación y un flujo de trabajo de CI/CD automatizado para la mejora y implementación continua.</p>

    <p>Esta arquitectura garantiza escalabilidad, seguridad y facilidad de uso tanto para los desarrolladores como para los usuarios finales.</p>

}
@if (showEnglishText)
{
    <h2>What is Climaguate?</h2>
    <hr/>
    <p>Climaguate is a weather forecast website for Guatemala. <br/>
    It provides up-to-date information about the weather in different regions of the country, 
    including temperatures, atmospheric conditions, and short-term and long-term forecasts.
    </p>
    <br/>
    <p>This website is a personal open-source project that demonstrates how to build a static web application using Azure and Blazor.</p>
    <br/>
    <h2>Our Logo</h2>
    <hr/>
    <img src="/images/chaac.png" alt="Chaac" style="float: left; margin-left: 10px; ">
    <p>Chaac is the Maya god of rain. In Maya mythology, Chaac is considered an important deity who controls water and weather. 
        He is depicted as a man with a large nose and sharp teeth, and carries a stone axe that he uses to strike the clouds and make it rain. 
        <br/>The ancient Maya relied on Chaac to ensure good harvests and maintain balance in nature. 
        Even today, Chaac is revered in some indigenous communities in Guatemala as a symbol of fertility and prosperity.</p>
    <p>The presence of Chaac in Climaguate is a reminder of the importance of water and weather in our lives. 
        Through this website, we hope to provide accurate and useful information about the weather in Guatemala, so that people can be prepared and make informed decisions. 
        Like Chaac, our goal is to help maintain balance and harmony in nature, and promote sustainability and environmental care.</p>
    <br/>
    <h2>For developers</h2>
    <hr/>
    <p>The diagram illustrates the architecture for a weather data collection, processing, and presentation system named Climaguate. The system is composed of several components working together to gather, process, and present weather-related data to end-users.</p>

    <img src="/images/climaguate.png" alt="Climaguate Architecture Diagram">
    <br/>
    <h4>1. Data Collection (Scheduled Trigger)</h4>
    <p>This section is responsible for collecting weather data from various sources at scheduled intervals. It comprises three main Python-based crawlers:</p>

    <ul>
        <li><strong>WeatherCrawler</strong>: Collects weather data from OpenWeatherMap.org in JSON format.</li>
        <li><strong>MapImageCrawler</strong>: Fetches weather map images from NASA GOES.</li>
        <li><strong>NewsCrawler</strong>: Gathers weather-related news from social media platforms like Twitter and Facebook in JSON format.</li>
    </ul>

    <p>All these crawlers use Azure Functions for serverless execution. They retrieve the necessary API keys and connection strings from a Key Vault, ensuring secure access to external APIs.</p>

    <h4>2. Data Presentation</h4>
    <p>This section handles the processing and presentation of collected data. It involves:</p>

    <ul>
        <li><strong>SQL Database</strong>: Stores the raw and processed weather data.</li>
        <li><strong>Data API Builder</strong>: Converts the stored data into JSON format through an API, making it accessible for the web application.</li>
        <li><strong>Static Web App</strong>: A front-end application built using .NET Blazor that presents the data to users. The website (<a href="http://www.climaguate.com">www.climaguate.com</a>) is the main interface for users to access the weather information.</li>
    </ul>

    <h4>3. CI/CD (Continuous Integration/Continuous Deployment)</h4>
    <p>This section ensures that the codebase and infrastructure are consistently tested, integrated, and deployed. It includes:</p>

    <ul>
        <li><strong>GitHub Codespaces</strong>: Provides a web-based development environment in Visual Studio Code, it is configured with all the required extensions so work can be resumed anywhere.</li>
        <li><strong>GitHub Actions</strong>: Automates the build and deployment processes.</li>
    </ul>

    <p>Code is committed to the Epivaral/climaguate repository on GitHub, which triggers the CI/CD pipelines by GitHub Actions.
    There is one action for each component on the solution, that matches the folder structure: Infrastructure, Backend, Database, and Frontend.</p>

    <h4>4. End-Users</h4>
    <p>This section represents the final consumers of the weather data. The end-users can access the data through various devices:</p>

    <ul>
        <li><strong>Desktop Browsers</strong>: Accessing the web application through <a href="http://www.climaguate.com">www.climaguate.com</a>.</li>
        <li><strong>Mobile Devices</strong>: Viewing the weather data on smartphones and tablets via a responsive web application or a potential mobile app.</li>
    </ul>

    <p>Additionally, there is an <strong>Email Service</strong> (in development) that generates daily weather forecasts and sends them to subscribers via email, you will be able to suscribe to it from the website.</p>

    <h4>Summary</h4>
    <p>The Climaguate system is designed to efficiently collect, process, and present weather information to users via a web application. It leverages serverless functions for data collection, a robust database for storage, a .NET-based front-end for presentation, and an automated CI/CD pipeline for continuous improvement and deployment.</p>

    <p>This architecture ensures scalability, security, and ease of use for both developers and end-users.</p>
}
<hr/>
<br/>
<br/>


@code {
    private bool showSpanishText = true;
    private bool showEnglishText = false;
    private string languageButtonText = "English"; 

    private void ToggleLanguage()
    {
        showSpanishText = !showSpanishText;
        showEnglishText = !showEnglishText;
        if (showSpanishText)
        {
            languageButtonText = "English";
        }
        else
        {
            languageButtonText = "Español";
        }
    }
    

    
}

