@page "/"
@inject HttpClient HttpClient
@using System.Text.Json


<PageTitle>Home</PageTitle>
<img src="/images/logo.png" alt="logo" style="height:140px" />
<hr/>

@{
    var cities = GetCities().Result;
}

<select>
    @foreach (var city in cities)
    {
        <option>@city.CityName</option>
    }
</select>

@code {
    public class City
    {
        public string CityCode { get; set; }
        public string CityName { get; set; }
    }

    public async Task<List<City>> GetCities()
    {
        var response = await HttpClient.GetAsync("/data-api/rest/GetCities");
        var content = await response.Content.ReadAsStringAsync();
        var cities = JsonSerializer.Deserialize<List<City>>(content);
        return cities;
    }
}