@page "/"

<PageTitle>Home</PageTitle>

<h1>Climaguate.com</h1>



Sitio en progreso


<footer>
  <p>Autor: Eduardo Pivaral<br>
  <a href="https://github.com/Epivaral/climaguate">Codigo Fuente</a></p>
</footer>