@page "/"
@inject HttpClient HttpClient


<PageTitle>Home</PageTitle>

<img src="/images/logo.png" alt="logo" style="width: 25%;" />
<hr/>

<div id="openweathermap-widget-5"></div>
<script>
  window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
  window.myWidgetParam.push({
    id: 5,
    cityid: '3598132',
    appid: '7bd66a9b3ab059dc7a3ea686a2bbf2c0',
    units: 'metric',
    containerid: 'openweathermap-widget-5',
  });
  (function() {
    var script = document.createElement('script');
    script.async = true;
    script.charset = "utf-8";
    script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(script, s);
  })();
</script>

<hr/>

<br/>


@code {
  
  private WeatherData weatherData;

  protected override async Task OnInitializedAsync()
  {
    weatherData = await HttpClient.GetFromJsonAsync<WeatherData>("https://api.openweathermap.org/data/2.5/weather?q=Guatemala&appid=7bd66a9b3ab059dc7a3ea686a2bbf2c0&units=metric");
  
  }

  public class WeatherData
  {
    public Main Main { get; set; }
    public Weather[] Weather { get; set; }
  }

  public class Main
  {
    public double Temp { get; set; }
  }

  public class Weather
  {
    public string Description { get; set; }
  }
}


@if (weatherData != null)
{
  <h2>Clima actual en ciudad de Guatemala</h2>
  <p>Temperatura: @weatherData.Main.Temp</p>
  <p>Clima: @weatherData.Weather[0].Description</p>
}
else
{
  <p>Loading weather data...</p>
}

